<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<!--Navigation bar where all pages can be accessed-->
<nav>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/createpetitions">Create a Petition</a></li>
        <li><a href="/viewpetitions">View all Petitions</a></li>
        <li><a href="/searchpetitions">Search for Petitions</a></li>
    </ul>
</nav>
<div class="container">
    <!--Heading-->
    <h1>Welcome to Cloud Petitions</h1> <br>
    <!--Paragraph about the application's mission-->
    <p>Where voices unite to create positive change! Here, individuals from
        diverse backgrounds come together to champion causes that matter most
        to them. Whether you're passionate about environmental sustainability,
        social justice, animal welfare, or any other pressing issue, this
        platform empowers you to initiate meaningful change. Browse through a
        myriad of petitions addressing various concerns or create your own to
        rally support. Every signature is a powerful endorsement, amplifying
        your message and contributing to the collective impact. Join us in
        making a difference, one signature at a time. Together, we can turn
        ideas into actions and shape a better future for all. Sign, share, and
        be the force behind the change you wish to see in the world!
    </p> <br>
    <!--Image-->
    <img src="/petitions.png">
</div>
</body>
</html>



