<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Petitions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formstyle.css}">
</head>
<body>
<!--Navigation bar where all pages can be accessed-->
<nav>
    <ul class="navbar">
        <li><a class="active" th:href="@{/}">Home</a></li>
        <li><a th:href="@{/createpetitions}">Create a Petition</a></li>
        <li><a th:href="@{/viewpetitions}">View all Petitions</a></li>
        <li><a th:href="@{/searchpetitions}">Search for Petitions</a></li>
    </ul>
</nav>
<!--Heading-->
<h2>Search Petitions</h2>
<!--Search form-->
<form th:action="@{/search}" method="get">
    <label for="searchTerm">Search by Title:</label>
    <input type="text" id="searchTerm" name="searchTerm" required>
    <button type="submit">Search</button>
</form>
</body>
</html>