<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Petitions</title>
    <link rel="stylesheet" type="text/css" href="/viewstyle.css">
</head>
<body>
<!--Heading-->
<h2>View Petitions</h2>
<!--Displays all petitions one by one iterating through the Hashmap-->
<ul class="clearfix">
    <li th:each="petition : ${petitions}">
        <div class="card">
            <!-- Link to the detailed view -->
            <a th:href="@{'/petitionDetails/' + ${petition.title}}">
                <div class="card-title" th:text="${petition.title}"></div>
            </a>
            <div class="card-author">by <span th:text="${petition.author}"></span></div>
        </div>
    </li>
</ul>
</body>
</html>
